@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

.brand-logo{
    font-family: 'Plaster', cursive;
}

.grid-layout{
    height: 200px;
    background-color: grey;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.jumbotron{
    background-color: blue;
}