@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Color Theme Swatches in Hex */
.kingfisher-1-hex { color: #0B8CBF; }
.kingfisher-2-hex { color: #F2A35E; }
.kingfisher-3-hex { color: #734F2F; }
.kingfisher-4-hex { color: #BF4904; }
.kingfisher-5-hex { color: #732002; }
.kingfisher-6-hex { color: #fafafa; }

/* Color Theme Swatches in RGBA */
.kingfisher-1-rgba { color: rgba(11, 140, 191, 1); }
.kingfisher-2-rgba { color: rgba(242, 163, 94, 1); }
.kingfisher-3-rgba { color: rgba(114, 78, 47, 1); }
.kingfisher-4-rgba { color: rgba(191, 72, 3, 1); }
.kingfisher-5-rgba { color: rgba(114, 32, 2, 1); }
.kingfisher-6-rgba { color: rgba(250, 250, 250, 1); }

/* Color Theme Swatches in HSLA */
.kingfisher-1-hsla { color: hsla(196, 88, 39, 1); }
.kingfisher-2-hsla { color: hsla(28, 85, 66, 1); }
.kingfisher-3-hsla { color: hsla(28, 41, 31, 1); }
.kingfisher-4-hsla { color: hsla(22, 96, 38, 1); }
.kingfisher-5-hsla { color: hsla(16, 96, 22, 1); }
.kingfisher-6-hsla { color: hsla(0, 0, 98, 1); }

/* --------------------------------- TAGS */

body{
    background-color: #fafafa;
}

a{
    color: inherit;
}


/* ---------------------------------- NAV */
nav{
    background-color: #732002;
}

nav li{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.brand-logo{
    font-family: 'Plaster', cursive;
    padding-left: 32px !important;
}

/* ---------------------------------- HEADINGS AND TEXT */

.page_heading{
    text-align: center;
    font-family: 'Roboto slab', sans-serif;
    color: #732002;
    font-weight: 500;
    padding: 30px;
}

.sub_heading{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #732002;
    font-weight: 900;
    padding: 30px;
}

textarea{
    font-family: 'Roboto Condensed', sans-serif;
    color: #734F2F;
}

input{
    font-family: 'Roboto Condensed', sans-serif;
    color: #734F2F;
}

input[type=text]:not(.browser-default){
    border-bottom: 2px solid #732002;
    font-weight: 900;
}

textarea.materialize-textarea{
    border-bottom: 2px solid #732002;
}

/* ---------------------------------- FLASH MESSAGES */

.flashes{
    background-color: #732002;
    color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
    padding: 20px;
}

/* ---------------------------------- BUTTONS */

.submit_button{
    background-color: #0B8CBF !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #fafafa !important;
}

.submit_button:hover{
    background-color: #fafafa !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #0B8CBF !important;
    border: 2px solid #0B8CBF !important;
}

.clear_button{
    background-color: #BF4904 !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #fafafa !important;
}

.clear_button:hover{
    background-color: #fafafa !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #BF4904!important;
    border: 2px solid #BF4904 !important;
}

.homepage_button{
    background-color: #fafafa !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #732002 !important;
    margin-bottom: 30px;
}

.homepage_button:hover{
    background-color: #732002 !important;
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #fafafa !important;
    border: 2px solid #fafafa !important;
    margin-bottom: 30px;
}

.form_buttons{
    padding-left: 0px !important;
    margin-top: 20px;
    margin-bottom: 50px;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #732002;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: grey;
}

.switch label {
    cursor: pointer;
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
}

.switch{
    margin-bottom: 20px;
}

/* ---------------------------------- DROPDOWN MENU */

.select-wrapper input.select-dropdown{
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif!important;
    font-weight: 900;
    text-align: center;
}

.dropdown-content li>span{
    color: #732002 !important;
    font-family: 'Roboto Condensed', sans-serif!important;
}

.select-wrapper input.select-dropdown {
    border-bottom: 2px solid #732002;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 2px solid #732002;
}

/* ---------------------------------- LOGIN */

.card-panel{
    background-color: #fafafa;
}

.form_icon{
    color: #732002;
}

.input-field .helper-text{
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-field>label {
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-field .prefix.active {
    color: #732002;
}

.form_text{
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
}

.grid-layout{
    min-height: 300px !important;
    background-color: #732002;
    border: 1px solid white;
    text-align: center;
}

.welcome_title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4em !important;
    font-weight: 900;
    color: #732002;
    text-align: center;
}

.welcome_text{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 0.5em !important;
    text-shadow: none;
    margin-top: 0px !important;
}

.register_login_form_link{
    padding-bottom: 5px;
    border-bottom: 2px solid #732002;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.register_login_form_link:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid #732002;
    font-family: 'Roboto Condensed', sans-serif;
}

.register_login_welcome_link{
    padding-bottom: 5px;
    border-bottom: 2px solid #fafafa;
}

.register_login_welcome_link:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid #fafafa;
}

.btn-large{
    background-color: #732002;
    color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: none;
}

.btn-large:hover{
    background-color: #fafafa;
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: none;
    border: 2px solid #732002;
}

.btn-large:focus{
    background-color: #fafafa;
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: none;
    border: 2px solid #732002;
}

.helper-text{
    margin-bottom: 20px;
}

.homepage_image{
    filter: grayscale(100%);
}

/* ---------------------------------- HOMEPAGE */

.hero_image{
    background-image: url("/static/images/homepage_images/swans_homepage_sketch.jpg");
    height: 70vh;
    background-repeat: no-repeat; 
    background-size: cover;
    filter: brightness(120%);
}

.hero_image_heading{
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;    
    text-shadow: 1px 1px #fafafa;
    text-align: center;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 20px;
    margin-top: 50px;
}

.homepage_box_heading{    
    color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    line-height: 40px;
    padding: 20px 20px 0px 20px !important;
    text-shadow: 2px 2px black;
    font-weight: 900;
    margin-top: 0px;
}

.homepage_box_text{
    color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    padding: 10px;
}

/* ---------------------------------- FOOTER */
.footer{
    color: #fafafa;
    background-color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.footer a:hover{
    border-bottom: 2px solid #fafafa;
    padding-bottom: 1px;
}

.footer_list{
    padding: 50px !important;
    line-height: 3em;
}

.footer-row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* ---------------------------------- BIRD CARDS */
.card-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 900 !important;
    color: #fafafa;
    text-shadow: 3px 2px black;
    letter-spacing: 1px;
}

.bird_card_image{
    height: 200px !important;
}

.card-action{
    border: 3px solid #BF4904 !important;
}

.bird_card_link{
    color: #BF4904 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    line-height: 25px;
}

.bird_card_link:hover{
    color: #BF4904 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    border-bottom: 2px solid #BF4904;
    padding-bottom: 1px;
}

/* ---------------------------------- MY SIGHTING CARDS */

.my_sighting_card{
    height: 200px;    
}

.card-text{
    color: #BF4904 !important;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 10px;
}

/* ---------------------------------- VIEW BIRD */

.bird_title{
    font-family: 'Roboto Condensed', sans-serif;
    color: #732002;
    font-weight: 900;
    font-size: 30px;
    text-align: center; 
    border: 1px solid black;
    padding: 15px !important;
    margin-top: 1px;
}

.bird_facts_text{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: justify;
    padding: 20px;
}

.bird_description_text{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    padding: 20px;
}

.bird_image{
    padding: 0px !important;
}

.my_sightings_options{
    margin-top: 20px;
}

/* ---------------------------------- REPORT SIGHTING */

.form_field_title{
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding-top: 15px !important;
}

.datepicker-date-display {    
    background-color: #732002;
    color: #fafafa;
    padding: 20px 22px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.datepicker-date-display .date-text {
    display: block;
    font-size: 2.8rem;
    line-height: 100px;
    font-weight: 500;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #732002;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.datepicker-day-button:focus {
    background-color: rgba(114,32,2,0.25);
    color: #fafafa;
}

.datepicker-table td.is-selected {
    background-color: #732002;
    color: #fafafa;
}

/* ---------------------------------- VIEW ERRORS */

.error-card-title{
    color:#732002;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.card-content{
    font-family: 'Roboto Condensed', sans-serif;
}