@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Color Theme Swatches in Hex */
.kingfisher-1-hex { color: #0B8CBF; }
.kingfisher-2-hex { color: #F2A35E; }
.kingfisher-3-hex { color: #734F2F; }
.kingfisher-4-hex { color: #BF4904; }
.kingfisher-5-hex { color: #732002; }
.kingfisher-6-hex { color: #fafafa; }

/* Color Theme Swatches in RGBA */
.kingfisher-1-rgba { color: rgba(11, 140, 191, 1); }
.kingfisher-2-rgba { color: rgba(242, 163, 94, 1); }
.kingfisher-3-rgba { color: rgba(114, 78, 47, 1); }
.kingfisher-4-rgba { color: rgba(191, 72, 3, 1); }
.kingfisher-5-rgba { color: rgba(114, 32, 2, 1); }
.kingfisher-6-rgba { color: rgba(250, 250, 250, 1); }

/* Color Theme Swatches in HSLA */
.kingfisher-1-hsla { color: hsla(196, 88, 39, 1); }
.kingfisher-2-hsla { color: hsla(28, 85, 66, 1); }
.kingfisher-3-hsla { color: hsla(28, 41, 31, 1); }
.kingfisher-4-hsla { color: hsla(22, 96, 38, 1); }
.kingfisher-5-hsla { color: hsla(16, 96, 22, 1); }
.kingfisher-6-hsla { color: hsla(0, 0, 98, 1); }

a{
    color: inherit;
}

.brand-logo{
    font-family: 'Plaster', cursive;
}

.grid-layout{
    height: 300px;
    width: 300px;
    background-color: #BF4904;
    border: 1px solid white;
    color: #fafafa;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: left;
    padding-top: 70px !important;
}

.jumbotron{
    background-color: blue;
}

/* ---------------------------------- NAV */
nav{
    background-color: #732002;
}

/* ---------------------------------- FOOTER */
.footer{
    color: #fafafa;
    background-color: #732002;
}

.footer a:hover{
    text-decoration: underline;
}