{% extends "base.html" %} {% block content %}

<section>
  <!-- 404 ERROR TITLE -->
  <div>
    <div class="row">
      <div class="col s12">
        <h3 class="center-align welcome_title">
          UhOh! You have found an empty nest...
        </h3>
      </div>
    </div>
    <!-- 404 ERROR LINK BACK TO HOME -->
    <div class="row">
      <div class="col s12 center">
        <a href="{{ url_for('home') }}" class="bird_card_link">TAKE ME HOME</a>
      </div>
    </div>
    <!-- 404 ERROR IMAGE -->
    <div class="row">
      <div class="col s12 center">
        <img
          src="static/images/bird_nest_eggs_sketch.jpg"
          alt="bird nest"
          width="600"
          height="400"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
