{% extends "base.html" %} {% block content %}

<div class="container">
  <section>
    <!-- ERROR PAGE TITLE -->
    <div class="row">
      <div class="col s12">
        <h3 class="center-align welcome_title">
          {{ username }}, please see a list of errors below
        </h3>
      </div>
    </div>
  </section>
    <!-- LIST OF ERRORS -->
    <div class="row">
      {% for error in errors %}
      <div class="col s12 l4">
        <div class="card error_card">
          <div class="card-content">
            <span class="error-card-title"
              >ERROR WITH: {{ error.bird_name}}<br />REPORTED BY: {{
              error.username }}<br />DESCRIPTION:</span
            >
            <p>{{ error.description }}</p>
          </div>
          <div class="card-action center">
            <a
              href="{{ url_for('delete_error', error_id=error._id) }}"
              class="btn-large"
              >ERROR RESOLVED</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
