{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="page_heading">
        Seen an error on a birds information?
      </h3>
      <br />
      <h4 class="sub_heading">Update it here</h4>
    </div>
  </div>

  <div class="row">
    <form
      class="col s12"
      method="POST"
      action="{{ url_for('edit_bird', bird_id=bird._id) }}"
    >
      <!-- Type Name of bird -->
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              id="bird_name"
              name="bird_name"
              type="text"
              minlength="1"
              maxlength="50"
              value="{{ bird.bird_name }}"
              pattern="^[a-zA-Z\s]{1,50}$"
              class="validate"
              required
            />
            <label for="bird_name">Name of bird</label>
            <span
              class="helper-text"
              data-error="Please input name of bird"
            ></span>
          </div>
        </div>

        <!-- Scientific name of bird -->

        <div class="col s12 m6">
          <div class="input-field">
            <input
              id="scientific_name"
              name="scientific_name"
              type="text"
              minlength="1"
              maxlength="50"
              value="{{ bird.scientific_name }}"
              pattern="^[a-zA-Z\s]{1,50}$"
              class="validate"
              required
            />
            <label for="scientific_name">Scientific Name</label>
            <span
              class="helper-text"
              data-error="Please input scientific name of bird"
            ></span>
          </div>
        </div>
      </div>

      <!-- Length of bird -->
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              id="length"
              name="length"
              type="text"
              minlength="1"
              value="{{ bird.length }}"
              pattern="^[0-9-]*$"
              class="validate"
              required
            />
            <label for="length">Length CM</label>
            <span
              class="helper-text"
              data-error="Please enter length of bird in cm with no spaces (5-7)"
            ></span>
          </div>
        </div>

        <!-- wingspan of bird -->

        <div class="col s12 m6">
          <div class="input-field">
            <input
              id="wingspan"
              name="wingspan"
              type="text"
              minlength="1"
              value="{{ bird.wingspan }}"
              pattern="^[0-9-]*$"
              class="validate"
              required
            />
            <label for="wingspan">Wingpsan CM</label>
            <span
              class="helper-text"
              data-error="Please enter wingspan of bird in cm with no spaces (5-7)"
            ></span>
          </div>
        </div>
      </div>

      <!-- Weight of bird -->
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              id="weight"
              name="weight"
              type="text"
              minlength="1"
              value="{{ bird.weight }}"
              pattern="^[0-9-]*$"
              class="validate"
              required
            />
            <label for="weight">Weight g</label>
            <span
              class="helper-text"
              data-error="Please enter weight of bird in g"
            ></span>
          </div>
        </div>

        <!-- Category of bird -->
        <div class="input-field col s12 m6">
          <select id="bird_family" name="bird_family" class="icons">
            <option value="" disabled>TEST</option>
            {% for family in bird_family %} {% if family.family_name ==
            bird.bird_family %}
            <option
              value="{{ family.family_name }}"
              data-icon="{{ url_for('static', filename='images/bird_icons/'+family.image) }}"
              selected
            >
              {{ family.family_name }}
            </option>
            {% else %}
            <option
              value="{{ family.family_name }}"
              data-icon="{{ url_for('static', filename='images/bird_icons/'+family.image) }}"
            >
              {{ family.family_name }}
            </option>
            {% endif %} {% endfor %}
          </select>
          <label for="bird_family">Bird Family</label>
        </div>
      </div>

      <!-- Description of bird -->
      <div class="row">
        <div class="input-field col s12">
          <textarea
            id="description"
            name="description"
            class="materialize-textarea"
          >
{{- bird.description -}}</textarea
          >
          <label for="description">Description of bird</label>
        </div>

        <!-- Image link -->
        <div class="col s12">
          <div class="input-field">
            <input
              id="image"
              name="image"
              type="text"
              value="{{ bird.image }}"
              required
            />

            <label for="image">Image Link:</label>
            <span
              class="helper-text"
              data-error="Please enter a link to the image of bird"
            ></span>
          </div>
        </div>
      </div>

      <!-- Feeding of bird -->
      <div class="row">
        <div class="input-field col s12">
          <textarea id="feeding" name="feeding" class="materialize-textarea">
{{- bird.feeding -}}</textarea
          >
          <label for="feeding">Feeding habbit of bird</label>
        </div>

        <!-- Where to see bird -->

        <div class="input-field col s12">
          <textarea id="where" name="where" class="materialize-textarea">
{{- bird.where -}}</textarea
          >
          <label for="where">Where to see the bird</label>
        </div>
      </div>

      <!-- Cancel / Submit buttons -->
      <div class="row">
        <div class="col s6 center-align">
          <a href="{{ url_for('uk_birds') }}" class="btn-large clear_button"
            >Cancel Edit</a
          >
        </div>
        <div class="col s6 center-align">
          <button class="btn-large submit_button" type="submit">
            Edit Bird
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
