{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="page_heading">Log In</h2>
      <!-- Registration Form -->
      <div class="row">
        <form
          class="col s12"
          method="POST"
          action="{{ url_for('login') }}"
        >
          <div>
            <!-- Username Field -->
            <div class="row">
              <div class="input-field col s12 m6 offset-m3">
                <i class="material-icons prefix form_icon">person</i>
                <input
                  id="username"
                  name="username"
                  type="text"
                  minlength="5"
                  maxlength="15"
                  pattern="^[a-zA-Z0-9]{5,15}$"
                  class="validate form_text"
                  required
                />
                <label for="username">Username</label>
                <span
                  class="helper-text"
                  data-error="Username must be 5-15 characters and only use letters and numbers"
                  data-success="This works"
                  >Username must be 5-15 characters using only letters and
                  numbers</span
                >
              </div>
            </div>
            <!-- Password Field -->
            <div class="row">
              <div class="input-field col s12 m6 offset-m3">
                <i class="material-icons prefix form_icon">lock</i>
                <input
                  id="password"
                  name="password"
                  type="password"
                  minlength="5"
                  maxlength="15"
                  pattern="^[a-zA-Z0-9]{5,15}$"
                  class="validate"
                  required
                />
                <label for="password">Password</label>
                <span
                  class="helper-text"
                  data-error="Password must be 5-15 characters and only use letters and numbers"
                  data-success="This works"
                  >Password must be 5-15 characters using only letters and
                  numbers</span
                >
              </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
              <button type="submit" class="col s12 m6 offset-m3 btn-large">
                Log In
              </button>
            </div>
            <div class="row">
              <div class="col s12 center form_text">
                Not Registered?
                <a href="{{ url_for('register') }}"><span class="register_login_form_link">Register Here<span></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 grid-layout">IMAGE</div>
    <div class="col s12 m6 grid-layout">
      <p class="welcome_text">
        Birdwatcher is a community of birdwatchers joining together to build a
        database of British birds and a one stop place to keep track of your
        bird sightings while out and about. Please log in above or if you haven't signed up yet <a href="{{ url_for('register') }}"><span class="register_login_welcome_link">Register Here</span></a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
