{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 grid-layout">
      <h3 class="center-align">{{ username }}, you have seen (number) birds</h3>
    </div>
  </div>

  <div class="row">
    <a
      href="{{ url_for('report_sighting', username=session['user']) }}"
      class="col s12 m6 grid-layout center-align"
      >REPORT SIGHTING</a
    >
    <a
      href="{{ url_for('uk_birds') }}"
      class="col s12 m6 grid-layout center-align"
      >ALL BIRDS</a
    >
  </div>
</div>

{% endblock %}
