{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="center-align">{{ birds_seen }}</h3>
    </div>
  </div>
  <!-- Select Name of bird -->
  <form class="col s12" method="POST" action="{{ url_for('report_sighting') }}">
    <div class="row">
      <div class="col s12 m6 center form_field_title">
        Name of Bird:
      </div>
      <div class="col s12 m6">
        <select id="bird_seen" name="bird_seen" required="required">
          <option value="" disabled selected>Choose your option</option>
          {% for birds in bird_species %}
          <option value="{{ birds.bird_name }}">{{ birds.bird_name }}</option>
          {% endfor %}
        </select>
        <label>Please Select</label>
      </div>
    </div>

    <!-- Select date seen -->
    <div class="row">
      <div class="col s12 m6 center form_field_title">
        Date Spotted:
      </div>
      <div class="col s12 m6">
        <input id="date_seen" name="date_seen" type="text" class="datepicker center" required/>
        <label for="date_seen">Select Date</label>
      </div>
    </div>

    <!-- Select Location -->
    <div class="row">
      <div class="col s12 m6 center form_field_title">
        County:
        </div>
        <div class="col s12 m6">
        <select id="location" name="location" required="required">
          <option value="" disabled selected>Location</option>
          {% for county in counties %}
            <option value="{{ county.county_name}}">{{ county.county_name}}</option>
          {% endfor %}  
        </select>
        <label>Choose the county where you saw this bird</label>
      </div>
    </div>

    <!-- Submit button -->
    <div class="row">
      <div class="col s12 center">
        <button
          class="btn-large"
          type="submit"
          name="action"
        >
          Add to my sightings
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <a
      href="{{ url_for('uk_birds') }}"
      class="col s12 m6 grid-layout center-align"
      >UK BIRDS</a
    >
    <a
      href="{{ url_for('my_sightings', username=session['user']) }}"
      class="col s12 m6 grid-layout center-align"
      >MY SIGHTINGS</a
    >
  </div>
</div>

{% endblock %}
