{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="center-align">
        Seen a bird not on our database?
      </h3>
      <br />

      <form action="/upload_image" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="image"
              id="image"
            />
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
      </form>

      <div class="row">
        {% for image in images %}
        <div class="col s6 m3 center-align">
          <img height="100px" width="125px" src="{{ url_for('static', filename='images/bird_images/'+image.bird_image) }}" />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
